html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
    pointer-events: none;
    background-image: url(../img/background/hyper-blur.jpg);
    background-size: 200%;
    background-position: center center;
    background-repeat: repeat;
    width: 110vw;
    height: 110%;
    position: absolute;
    top: -50px;
    left: -50px;
} */



article {
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;

    /* margin-bottom: 5vh; */

    h1 {
        font-size: large;
        opacity: 60%;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 2vh;
    }

    h2 {
        font-size: medium;
        opacity: 60%;

        margin-top: 4vh;
    }


    
}

article:last-child {
    margin-bottom: 8vh;
}

#intro {

    display: flex;
    align-items: center;
    gap: 2vw;

    img {
        max-height: 12vh;
        height: 86px;
        width: 86px;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 1vw;
    width: 100%;

    h2 {
        margin: 0;
        line-height: 1.2;
        font-size: large;
        opacity: 100%;
    }

    h3 {
        margin: 0;
        opacity: 60%;
        font-size: medium;
    }

    i {
        font-size: 2vh;
    }

}

a:link, a:visited {
    color: var(--text);
}

a:hover {
    text-decoration: none;
    opacity: 100%;
}

nav {
    width: 100%;
    max-width: 550px;
    margin: 1% auto;

    /* position: sticky;
    top: 10px;
    z-index: 1; */

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        /* background: #f8f9fa; */
        padding: .5em;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(75, 75, 75, 0.4);
        transition: background-color 0.3s ease-in-out;

        .nav-left, .nav-right {
            display: flex;
        }
    }
    .nav-item {
        display: flex;
        
        align-items: center;
        gap: 10px;
        /* margin-right: 15px; */
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background 0.2s;

        i {
            font-size: 3vh;
        }
    }
    .nav-item:hover {
        opacity: 50%;
    }
    /* .nav-item i {
        margin-right: 5px;
    } */
    .separator {
        /* margin: 0 10px; */
        color: #aaa;

        display: none;
    }

}

.theme-toggle {
    margin-left: auto;
    cursor: pointer;
}

/* .dark-mode {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.dark-mode .navbar {
    background-color: #000000;
}

.dark-mode .nav-item {
    color: rgb(255,255,255);
}

.dark-mode .theme-toggle i {
    color: rgb(255,255,255);
}


.light-mode {
    background: rgb(0, 0, 0);
    color: rgb(255,255,255);
} */


@media screen and (max-width: 550px) {
    nav {
        width: 95%
    }
    
}