html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



main {
    padding: 0;
    overflow: hidden;
    position: relative;
    /* min-height: 100vh; */
}



article {
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;

    /* margin-bottom: 5vh; */

    h1 {
        font-size: large;
        opacity: 60%;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 2vh;
    }

    h2 {
        font-size: medium;
        opacity: 60%;

        margin-top: 4vh;
    }


    
}

article:last-child {
    margin-bottom: 8vh;
}

#intro {

    display: flex;
    align-items: center;
    gap: 2vw;

    img {
        max-height: 12vh;
        height: 86px;
        width: 86px;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 1vw;
    width: 100%;

    h2 {
        margin: 0;
        line-height: 1.2;
        font-size: large;
        opacity: 100%;
    }

    h3 {
        margin: 0;
        opacity: 60%;
        font-size: medium;
    }

    h4 {
        margin: 0;
        line-height: 1.2;
        font-size: medium;
        opacity: 100%;
    }


    i {
        font-size: 2vh;
    }

}

a:link, a:visited {
    color: var(--text);
}

a:hover {
    text-decoration: none;
    opacity: 100%;
}

nav {
    width: 100%;
    max-width: 550px;
    margin: 1% auto;
    z-index: 10;
    position: relative;

    /* position: sticky;
    top: 10px;
    z-index: 1; */

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        /* background: #f8f9fa; */
        padding: .5em;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(75, 75, 75, 0.4);
        transition: background-color 0.3s ease-in-out;

        .nav-left, .nav-right {
            display: flex;
        }
    }
    .nav-item {
        display: flex;
        
        align-items: center;
        gap: 10px;
        /* margin-right: 15px; */
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background 0.2s;

        i {
            font-size: 3vh;
        }
    }
    .nav-item:hover {
        opacity: 50%;
    }
    /* .nav-item i {
        margin-right: 5px;
    } */
    .separator {
        /* margin: 0 10px; */
        color: #aaa;

        display: none;
    }

}

.item {
    max-width: 80%;
}

.right {
    text-align: right;
}

.theme-toggle {
    margin-left: auto;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    /* text-align: center; */
    margin: 2%;

    input, button {
        font-size: large;
        border: none;
        /* cursor: pointer; */
        padding: .5em;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
        opacity: 80%;
    }
    
}

.close {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 6vh;
    cursor: pointer;
    color: white;
}

.highlight {
    background-color: yellow; /* Highlight color */
    transition: background-color 0.3s ease; /* Smooth transition for the highlight */
}

#searchResults {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.search-result {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.search-result:hover {
    background-color: #ddd;
}

/* Style for the scroll-to-top button */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    display: none; /* Hidden by default */
    cursor: pointer;
    z-index: 1000;
}

.scroll-to-top-btn:hover {
    background-color: #0056b3;
}

.scroll-to-top-btn:focus {
    outline: none;
}


@media screen and (prefers-color-scheme: light) {
    nav {
        position: sticky;
        top: 10px;
        z-index: 1;
        background-color: white;
        border-radius: 10px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    nav {
        position: sticky;
        top: 10px;
        z-index: 1;
        background-color: black;
        border-radius: 10px;
    }

    .highlight {
        background-color: rgb(129, 129, 0); /* Highlight color */
      }
    
      .modal-content {
        background: rgb(61, 61, 61);
      }

      #searchResults {
        background-color: rgb(83, 83, 83);
      }

      .search-result:hover {
        background-color: #000000;
    }
}




@media screen and (max-width: 550px) {
    nav {
        width: 95%;
        bottom: 1vh;
        position: fixed;
        top: 90vh;
        right: .5vw;
        left: .5vw;

    }

}

