* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;
    
        font-family: system-ui;
        /* font-family: Merriweather; */
        /* font-family: math; */
    

        
    }


}

#profile-img {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 4px rgb(39, 39, 39);
}

.profile, .timeline {
    max-width: 550px;

    line-height: 1.6em;

    h2 {
        line-height: 1.3em;
        margin-bottom: 0px;
        margin-top: 0;
    }

    h3 {
        margin-bottom: 0;
        margin-top: 5vh;
        font-weight: 500;
    }


}


.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    max-height: 85vh;
    position: sticky;
    top: 4vh;
    z-index: 10;

    padding: 15px;

}

.bio {
    margin-bottom: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.nav a {
    transition: background 0.3s;
    max-width: max-content;
    padding: 5px;
    border-radius: 5px;
}



.timeline {

    margin-top: 8vh;
    padding-right: 15px;;

    

    h1 {
        display: none;
        padding: 15px 0;
        text-transform: uppercase;
        font-size: large;

        padding: 15px;
    }

    h2, h3, a {
        padding: 0 15px;
    }

    h2 a {
        padding: 0;
    }



    p {
        margin-top: 15px;
        padding: 0 15px;
    }

    img {
        max-width: 95%;
        border-radius: 5px;
        box-shadow: 0px 0px 1px grey;
        margin: 0 10px;
        margin-bottom: 10px;
        

    }
}

#about a {
    padding: 0px !important;
}

.social {

    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;

    i {
        font-size: 30px;
    }
}

.grid-item {
    /* display: grid; */
    gap: 1vw;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
    padding: 12px;


}

.grid-item-copy {

    h2 {
        margin-bottom: 10px;
    }
}


.full-split {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    max-width: 1200px;
    gap: 4vw;

    margin-bottom: 10vh;
}

a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}



footer {

    /* max-width: 50%; */
    margin-top: 5vh;
    margin-bottom: 15vh;

    img {
        max-height: 5vh;
        opacity: 100% !important;
        margin: 0 auto;
        width: 100%;
        object-fit: contain;
    }
}

.posts-slider {

    padding: 5px 15px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;

    .post {

        padding: 12px;
        border-radius: 10px;


    
        img {
            max-height: 35vh;
            object-fit: cover;
            width: 100%;
            margin: 0;
        }

        h3, a, p {
            padding: 0;
            margin-bottom: 0;
            margin-top: 0 !important;
        }

        p {
            opacity: 80%;
        }


    }

}


.filter-topics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    max-height: 85vh;
    position: sticky;
    top: 4vh;
    z-index: 10;

    padding: 10px;

    display: none;

    span {
        display: flex;
        flex-wrap: nowrap;
        padding: 8px;
        border-radius: 5px;
        border: thin solid;
        max-width: max-content;
        color: white;
    }
}

.item {
    margin: 0;

    h2 {
        /* margin: 0; */
        margin-bottom: 2vh;
    }

    a {
        padding: 0;
        margin-bottom: 10px;
    }
}

.writing {
    h1 {
        display: block !important;
        position: sticky;
        top: 0;
        font-size: x-large;
    }
}


.go-home {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 50;

    display: flex;
    flex-direction: column;
    align-items: end;

     a, span {
        margin-bottom: 10px;
        cursor: pointer;
        padding: 4px;
        border-radius: 10px;
        background-color: black;
        box-shadow: 2px 2px 0px rgb(21, 24, 24);
        font-size:  large;

        opacity: 90%;
    }

    a:link, a:visited {
        color: var(--text);
        text-decoration: none;
    }
    
     a:hover,  span:hover {
        background-color: rgb(58, 58, 58);
        color:rgb(255, 255, 255);
        opacity: 100%;
    }

    i {
        font-size: 4vh;
    }
    
}



.thumbnav {
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;

    width: 30vw;
    padding: 1em;
    border-radius: 20px 0 0 0;

    /* display: none; */

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 1vw;

        li a, li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: lowercase;
            font-size: medium;
        }
    }
}


.sticky-header-container {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    background-color: white; /* Ensure it has a solid background */
    z-index: 10; /* Keep it above other elements */
    padding: 10px 0; /* Add some padding */
    border-bottom: 1px solid #ccc; /* Optional: to give a bottom border */
}

header {
    padding-bottom: 20px; /* Ensure spacing after the blockquote */
}


@media screen and (prefers-color-scheme: light) {
    .thumbnav {
        background-color: white;
        box-shadow: 0px 0px 3px rgb(179, 179, 179);
    }
    

}

@media screen and (prefers-color-scheme: dark) {
    .thumbnav {
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 3px rgb(77, 77, 77);
        color: white;
    }   
}


@media screen and (max-width: 1400px) {
    .grid-item {
        grid-template-columns: 1fr;
    }

    .timeline {

        padding-right: 0;

        h1 {
            display: block;
            position: sticky;
            top: 0;
            
            z-index: 10;
            overflow: hidden;
        }

        h2 {
            font-size: large;
        }

        img {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }

    .writing {
        h1 {
            font-size: large;
        }
    }

    .thumbnav {
        display: block;
        width: 40vw;
        
        font-size: small;
    }
}


@media screen and (max-width: 1000px) {

    .nav {
        display: none;
    }

    .thumbnav {
        display: block;
        width: 100%;
        border-radius: 20px 20px 0 0;
        font-size: 10px;
    }



    .grid-item {
        padding: 0;
    }

    .grid-item:hover {
        background: none !important;
        opacity: 100% !important;
    }

    .profile, .filter-topics {
        top: 15px;
        position: relative;
    }

    .full-split {
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
    }

    .social {
        justify-content: space-around;
        
        i {
            font-size: 40px;
        }
        
    }


}

@media screen and (max-width: 850px) {


    .grid-item:hover {
        box-shadow: none !important;
    }


}


@media screen and (prefers-color-scheme: light) {
    

    .timeline {
        h1 {
            background-color: rgb(255,255,255);
        }
    }

    .bio a:link, .bio a:visited, .timeline a:link, .timeline a:visited {
        color: #b74632;
        opacity: 100%;
        font-weight: 500;
    }

    .timeline a:hover {
        color: rgb(0, 0, 0) !important;
        border-bottom: thin solid;
    }

    .thumbnav {
        ul {
            li a:hover {
                opacity: 50%;
            }
        }
    }

    .social a:hover {
        /* opacity: 50%; */
        color: #b74632 !important;
        border-bottom: none !important;
    }

    .nav a:hover, .post a:hover   {
        border-bottom: none;
    }
    

    .nav a.active {
        background: #b74632;
        color: white !important;
        opacity: 100%;
    }

    .post {
        background-color: rgba(250, 250, 250, 0.76);
        box-shadow: 0px 0px 2px rgba(24, 24, 24, 0.76);
    }

    .post:hover, .grid-item:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 2px grey;
        img {
            opacity: 50%;
            box-shadow: 0px 0px 4px grey;
        }
    }

    .grid-item:hover {
        background-color: rgb(211, 211, 211);
        border-radius: 10px;

        img {
            opacity: 50%;
        }
    }

    .go-home span, .go-home a {
        box-shadow: 0px 0px 2px rgb(0, 117, 190);
        border: thin solid rgb(0, 117, 190);
    }


    blockquote {
        color: rgb(131, 131, 131);
    }

    .go-home a, .go-home span {
        background-color: rgb(190, 190, 190);
        box-shadow: 2px 2px 0px black;
        border: none;
    }


}

@media screen and (prefers-color-scheme: dark) {
    

    .timeline {
        h1 {
            background-color: rgb(0, 0, 0);
            color: white;
        }

        p {
            color: rgb(217, 217, 217);
        }

        a:link, a:visited {
            opacity: 100%;
        }

        /* a:hover {
            opacity: 50%;
        } */
    }

    .bio a:link, .bio a:visited, .timeline a:link, .timeline a:visited {
        color: #b74632;
        opacity: 100%;
        font-weight: 500;
    }

    .timeline a:hover {
        color: white;
        border-bottom: thin solid;
    }

    .thumbnav {
        ul {
            li a:hover {
                opacity: 50%;
            }
        }
    }

    .social a:hover {
        /* opacity: 50%; */
        color: #b74632 !important;
        border-bottom: none;
    }

    .nav a:hover, .post a:hover   {
        border-bottom: none;
    }
    

    .nav a.active {
        background: #b74632;
        color: white !important;
        opacity: 100%;
    }

    body {
        background: rgb(0, 0, 0);
    }

    .grid-item:hover {
        border-radius: 10px;
        opacity: 80%;
        background-color: rgb(43, 43, 43);
        box-shadow: 0px 0px 4px rgb(58, 58, 58);
    }

    .post {
        background-color: rgba(27, 27, 27, 0.76);
        box-shadow: 0px 0px 4px rgb(58, 58, 58);
    }

    .post:hover {
        background-color: rgb(39, 39, 39);

        img {
            opacity: 50%;
        }
    }

    .go-home span, .go-home a {
        box-shadow: 2px 2px 3px rgba(109, 109, 109, 0.699);
        background-color: #1a1a1a;
        /* border: thin solid lightskyblue; */
        color: white !important;
    }




}