* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;
    
        font-family: system-ui;
        /* font-family: Merriweather; */
        /* font-family: math; */
    

        
    }


}

#profile-img {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 4px rgb(39, 39, 39);
}

.profile, .timeline {
    max-width: 550px;
    padding: 15px;
    line-height: 1.6em;

    h2 {
        line-height: 1.3em;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    h3 {
        margin-top: 0;
        font-weight: 300;
    }


}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    max-height: 85vh;
    position: sticky;
    top: 4vh;
    z-index: 10;


}

.bio {
    margin-bottom: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.nav a {
    transition: background 0.3s;
    max-width: max-content;
    padding: 5px;
    border-radius: 5px;
}



.timeline {

    margin-top: 4vh;

    h1 {
        display: none;
        padding: 15px 0;
        text-transform: uppercase;
        font-size: large;
    }

    p {
        margin-top: 0;
    }
}

.social {

    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;

    i {
        font-size: 30px;
    }
}


.full-split {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    max-width: 1200px;
    gap: 4vw;

    margin-bottom: 10vh;
}

a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}



footer {

    /* max-width: 50%; */
    margin-bottom: 25px;

    img {
        max-height: 5vh;
        opacity: 100% !important;
        margin: 0 auto;
        width: 100%;
        object-fit: contain;
    }
}



@media screen and (max-width: 1000px) {
    .timeline {
        h1 {
            display: block;
            position: sticky;
            top: -1px;
            
            z-index: 10;
        }

        h2 {
            font-size: large;
        }
    }
}

@media screen and (max-width: 750px) {


    .profile {
        top: 15px;
        position: relative;
    }

    .full-split {
        flex-direction: column;
    }


}


@media screen and (prefers-color-scheme: light) {
    

    .timeline {
        h1 {
            background-color: rgb(255,255,255);
        }
    }

    .bio a:link, .bio a:visited, .timeline a:link, .timeline a:visited {
        color: #b74632;
        opacity: 100%;
    }

    a:hover {
        color: rgb(0, 0, 0) !important;
    }

    .social a:hover {
        /* opacity: 50%; */
        color: #b74632 !important;
    }
    

    .nav a.active {
        background: #b74632;
        color: white !important;
        opacity: 100%;
    }


}

@media screen and (prefers-color-scheme: dark) {
    

    .timeline {
        h1 {
            background-color: rgba(0, 0, 0, 0.888);
        }

        p {
            color: rgb(217, 217, 217);
        }

        a:link, a:visited {
            opacity: 100%;
        }

        /* a:hover {
            opacity: 50%;
        } */
    }

    .bio a:link, .bio a:visited, .timeline a:link, .timeline a:visited {
        color: #b74632;
        opacity: 100%;
    }

    a:hover {
        color: white !important;
    }

    .social a:hover {
        /* opacity: 50%; */
        color: #b74632 !important;
    }
    

    .nav a.active {
        background: #b74632;
        color: white !important;
        opacity: 100%;
    }

    body {
        background: rgb(0, 0, 0);
    }


}