html {
    /* max-width: 1550px; */
    /* margin: auto; */
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
     color: var(--text);
     background: var(--background);
     margin: auto;
     padding: auto;
     /* max-width: 1250px; */
     /* padding-bottom: 30px; */
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
     letter-spacing: .025em;
     cursor: default;
     margin-bottom: 30px;
 }
 
 
 .navbar {
    /* border-bottom-style: solid; */
    font-size: 20px;
    
    /* text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky; */

    z-index: 1;
    top: 0;
    /* -webkit-backdrop-filter: blur(1000px) grayscale(10) opacity(50);
    backdrop-filter: blur(20px) grayscale(10) opacity(50); */
    list-style: none;
    width: max-content;
    border-bottom: 1px solid #eee;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;;
    border-bottom: 1px solid #999;
    visibility: visible;
    margin: auto;
    width: 100%;



}

.navbar ul {
    padding-left: 0;
    /* padding-left: 10px; */
    text-align: center;
    /* margin: 10px; */
    /* margin-bottom: 10px; */
    padding-top:10px;
    padding-bottom: 10px;
    margin: 0;
}


.navbar li {
    display: inline;
    padding: 0;
}

.navbar a {
    padding: 8px;

}

.navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}

.navbar .dropdown {
    display: inline-table; 
}

.navbar .dpdn-cnt {
    margin: 0;
}

.dropdown {
    /* position: relative; */
    display: inline-block;
  }

.dpdn-cnt {
    display: none;
    position: absolute;
}

 .dpdn-cnt a {
    float: none;
    display: block;
    text-align: left;
    /* overflow: hidden; */
}

/* .dpdn-cnt a:hover {
    display: block;
    position: relative;

} */

/* .dropdown:hover {
    padding-bottom: 15%;
    transition: 0.7s ease-in-out;
} */

.dropdown:hover .dpdn-cnt {
    /* display: block; */
    display: none;
}


.topnav-inline {
    /* display: inline; */
    display: none;
    transition: .5s ease all;
    /* padding: 20px; */
    font-size: 20px;
}

.topnav-inline ul {
    padding-left: 0;
    margin: 5px;
    padding-right: 85px;
    padding-top: 5px;
}

.topnav-inline li {
    display: flex;
    /* background-color: black; */
    /* color: white; */
    padding: 5px;
    flex-direction: row-reverse;
}

.topnav-inline a {
    padding: 5px 12px 5px 12px;
}

.topnav-inline a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.topnav-inline a:hover {
    color: var(--text);
    font-weight: bold;
}


.hamburger {
    position: absolute;
    transition: .2s ease all;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: .9rem;
    right: 2rem;
    border-bottom: none;
    z-index: 1;
    top: 0;
    margin-top: 15px;
    /* margin-bottom: 25px; */
    visibility: hidden;
}

.hamburger a:link, a:visited {
    font-size: 30px;
    text-decoration: none;
    float: right;
    /* padding-right: 10px; */
    right: 10px;
    color: var(--text);
}

.hamburger img {
    max-width: 60px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    opacity: 40%;
  }
  
  #myBtn:hover {
    color: #555; /* Add a dark-grey background on hover */
    opacity: 100%;
  }

.title {
    /* padding: 10px 25px; */
    /* font-size: 20px; */
    /* max-width: 1200px; */
    /* width: 66.7%; */
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 10px; */
    padding-bottom: 20px;
    transition: .2s ease all;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}


.title h1 {
    margin: auto;
    /* max-width: 1250px; */
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.title h3 {
    margin: auto;
    max-width: 550px;
    font-size: 20px;
    text-align: center;
}

.title img {
    /* padding: 15px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 880px;
    max-width: 100%; */
    /* height: auto; */
    /* overflow: hidden;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
    transition: transform .5s;
    z-index: 0;
    object-fit: cover; */

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    object-fit: cover;
    max-height: 70vh;
    min-height: 400px;
}

.title a:link, a:visited {
    color: var(--text);
    padding: 5px 0px;
    text-align: center; 
    /* display: inline-block; */
    /* text-decoration: none; */
    /* font-style: oblique; */
    font-weight: bold;
}

.title a:hover {
    color: var(--text);
    /* font-weight: bold; */
    /* font-style: italic; */
    text-decoration: none;
    /* text-decoration: underline; */
}







.blog-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



.blog-left {
float: left;
position: -webkit-sticky;
position: sticky;
-ms-overflow-style: none;
top: 100px !important;
margin-left: auto;
margin-right: auto;
font-size: .85em;
text-align: center;

/* margin-top: 700px; */

/* width: 16.7%; */
/* padding-left: 20px; */
/* height: calc(100vh - 70px); */

/* display: none; */
}

.blog-left nav {
    width: 180px;
    margin-left: -20px;
    /* padding: 10px 0px; */
}

.blog-left nav ul {
    list-style-type: none;
}

.blog-left nav li {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.blog-left a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.blog-left a:hover {
    color: var(--text);
    text-decoration: underline;
}


.blog-right {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    -ms-overflow-style: none;
    top: 100px !important;
    margin-left: auto;
    margin-right: auto;
    font-size: .85em;
    text-align: center;
    /* margin-top: 700px; */
    /* width: 16.7%; */
    /* padding-left: 20px; */
    /* height: calc(100vh - 70px); */
    
    /* display: none; */
}

.blog-right nav {
    width: 180px;
    margin-right: 15px;
    /* padding: 10px 0px; */
}

.blog-right nav ul {
    list-style-type: none;
}

.blog-right nav li {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.blog-right a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.blog-right a:hover {
    color: var(--text);
    text-decoration: underline;
}



.blog {
    padding: 15px;
    /* font-size: 20px; */
    max-width: 600px;
    /* width: 66.7%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* padding-bottom: 50px; */
}


.blog p {
    /* font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: 16px;
    margin-top: 10px; */

    font-size: 1.05rem;
    line-height: 1.6em;
    /* word-wrap: break-word; */
    margin-bottom: 16px;
    margin-top: 10px;
    /* text-indent: 10px; */
}

.blog h1 {
    /* font-size: 30px;
    /* margin: 0px 0px 10px 0px; */
    padding-bottom: .3em;
    font-size: 2em;
    /* border-bottom: 1px solid #eee; */
    /* margin-top: 42px; */
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
}

.blog h3 {
    /* font-size: 20px; */
    margin: 0px 0px 10px 0px;
    padding-bottom: 5px;
    /* padding-top: 10px; */
    text-align: center;
    font-weight: lighter;
    /* border-bottom: 1px solid #eee; */

    /* Working on adding topic */
    /* float: left; */
}

.blog h2 {
    padding-bottom: 10px;
    /* padding-top: 10px; */
    /* padding-left: 4px; */
    margin: 0;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
    /* width: max-content; */

    /* position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%; */
}


.blog h4 {
    text-align: center;
    font-style: italic;
    margin: 0;
}

/* .blog em {
    align-items: center;
    font-size: 18px;
} */

.blog ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    /* font-size: 20px; */
}

.blog li {
    padding-bottom: 15px;
}

.blog li a:hover {
    color: var(--text);
    font-weight: bold;
  }


.blog a:link, a:visited {
    color: var(--text);
    padding: 5px 0px;
    text-align: center; 
    /* display: inline-block; */
    /* text-decoration: none; */
    /* font-style: oblique; */
    font-weight: bold;
}

.blog a:hover {
    color: var(--text);
    /* font-weight: bold; */
    /* font-style: italic; */
    text-decoration: none;
    /* text-decoration: underline; */
}

.blog img {
    padding: 15px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:450px;
    width: 100%;
    /* max-width: 90%; */
    /* width:auto; */
    object-fit: cover;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
    transition: transform .5s;
    z-index: 1;
}

.blog img:hover {
    /* transform: scale(1.5); */
    /* width: 150%; */
}

.blog iframe {
    margin: auto;
    padding-top: 10px;
    width: 100%; 
    height: 340px;
}

.blog audio {
    text-align: center;
    padding: 25px 0px;
    /* max-width: 500px; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.blog blockquote {
    text-align: center;
    /* text-align: justify; */
    margin: 0;
    padding-bottom: 10px;
    /* padding: 0 1em; */
    color: #777;
    /* border-left: .25em solid #ddd; */
}

.blog video {
    margin-top: 20px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
    padding: 10px;
    width: 95%;
    object-fit: cover;
}

.blog-topics {
    display: none;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid;
    margin-bottom: 20px;
    width: 100%;
}

.blog-topics li {
    /* text-decoration: none; */
    list-style-type: none;
    text-align: center;
}

/* .blog-topics h3 {
    padding-bottom: 5px; border-bottom: 1px solid #999; width: max-content; margin:auto;
} */

.embed-twitter {
    width: 75% !important;
}

.twitter-tweet {
    margin: auto;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }


.more-imgs {
    max-width: 650px;
    /* padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex; */
}

.more-imgs img {
    padding: 10px;
    object-fit: cover; 
}

.scrollable {
    overflow-x: scroll;
    display: -webkit-box;
    max-width: max-content;
    max-height: 250px;
    /* text-align: center; */
    /* padding-top: 10px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
}

.scroll-imgs {
    overflow-x: scroll;
    white-space: nowrap;
}


@media (max-width: 700px) {

    /* .navbar {
        text-align: center;
    } */

    .dpdn-cnt {
        display: none;
    }

    .dpdn-cnt a {
        display: none;
    }

    
    .dropdown:hover .dpdn-cnt {
        display: none;
    }

    .dropdown:hover {
        padding-bottom: 0;
    }
    
}

@media (max-width: 690px) {

    /* .title h1 {
        padding-top:60px;
    } */


    .blog iframe  {
        margin: auto;
        padding: 10px;
        width: 95%; 
        height: 240px;
    }

}

@media (max-width: 1200px) {
    .navbar {
        visibility: hidden;
        display: none;
    }

    .hamburger {
        visibility: visible;
        /* position: sticky;
        position: -webkit-sticky;
        top: 1;
        right: 1;
        z-index: 1;
        background-color: rgb(17, 17, 17);
        width: 100%; */
    }

    /* comment out once title is implemented. */
    .blog {
        margin-top: 20px;
    }

    .blog-topics {
        display: flex;
        flex-direction: column;
    }

    .blog-left, .blog-right {
        display: none;
    }

    .title {
       margin-top: 70px;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h3 {
        font-size: 18px;
    }

    .title img {
        margin-top: 50px;
    }
}


@media only screen and (min-width: 690px) and (prefers-color-scheme: dark) {

    .blog {
        /* background-color: #5555; */
        background-color: #282828;
        border: solid 4px white;
        box-shadow: 10px 10px 0 -4px #282828, 10px 10px white;
    }

    .blog h2 {
        background-color: #282828;
    }

    /* .navbar {
        position: sticky;
        position: -webkit-sticky;
        background: var(--background);
        background-color: #282828;
        z-index: 1;
    } */

    /* .blog h3 {
        border-bottom: 1px solid #999;
        width: max-content;
        margin: auto;
        margin-bottom: 10px;
    } */

}

@media only screen and (max-width: 690px) and (prefers-color-scheme: dark) {
    .blog {
        /* background-color: #5555; */
        background-color: #282828;
        border-radius: 0px;
        border-top: 2px solid;
        /* border-bottom: 2px solid; */
    }

}

@media screen and (prefers-color-scheme: light) and (min-width: 690px) {

    body {
        background-color: #1111;
    }

    .blog {
        background-color: #fafafa;
        background-color: white;
        border: solid 4px black;
        box-shadow: 10px 10px 0 -4px white, 10px 10px black;
    }

    /* .navbar {
        background-color: white;
        width: 100%;
        border-bottom: solid 4px black;
    } */

    /* .blog-left, .blog-right {
        display: none;
    } */


    /* .navbar {
        border-bottom: 1px solid #999;
        position: sticky;
        position: -webkit-sticky;
        background: var(--background);
        background-color: #EEEEEE;
        z-index: 1;
    } */

    /* .blog h3 {
        border-bottom: 1px solid #999;
    } */

    .blog h2 {
        border-bottom: 1px solid #999;
        background-color: white;
    }

}

@media screen and (prefers-color-scheme: light) and (max-width: 690px) { 
    body {
        background-color: #1111;
    }

    .blog {
        background-color: #fafafa;
        background-color: white;
        border-radius: 0px;
        border-top: 2px solid;
        /* border-bottom: 2px solid; */
    }

}