* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: #f5f5f5;
}

body.dark {
    --text: white;
    --background: dark;
}

    body {
        text-rendering: optimizeLegibility;
        color: var(--text);
        background: var(--background);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana;
        /* font-family: system-ui; */
        margin: 0;
        padding: 0;
        cursor: default;
    }

    main {
        display: block;
        max-width: 1900px;
        margin: 0 auto;
        margin-bottom: 10vh;
        gap: 2vw;
    }

    /* nav {
        position: sticky;
        top: 0;
        z-index: 10;

        background-color: #f5f5f5;
        box-shadow: 0px 0px 1px #333;
    }

    nav img {
        max-height: 4vh;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        margin: 0;
        margin-inline: 15px;
        padding: 10px;
    }

    nav li {
        margin-right: 2vw;
        list-style-type: none;
        text-transform: capitalize;
    }

    nav a:link, a:visited {
        color: black;
        text-decoration: none;
    } */


    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }




    aside {
        float: left;
        max-width: 250px;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;

        position: sticky;
        top: 80px;
        z-index: 1;

        background-color: #f5f5f5;

        /* border: thin solid; */
        border-radius: 5px;
        /* height: 88vh; */

    }

    section {
        /* float:right; */
        position: relative;
        /* right: 10px; */
    }

    .aside-container {
        margin-bottom: 10vh;
        margin: 0 auto;
        padding: 0 20px;
        padding: 20px;
        /* height: 89vh; */
        overflow: hidden;
        /* border-radius: 5px; */
    }

    .aside-container img {
        width: 100%;
        max-width: 30vh;
    }

    article {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding: 12px;

        /* border: thin solid; */
        border-radius: 5px;
        box-shadow: 4px 4px 0px red;
    }

    article p {
        max-width: 550px;
    }

    article a:link, article a:visited {
        text-decoration: none;
        font-weight: 500;
    }

    article a:before {
        content: "#";
    }

    article a:hover {
        opacity: 90%;
    }

    article img {
        max-width: 100%;
        max-height: 60vh;
    }

    footer img {
        max-height: 5vh;
    }

    figure {
        /* max-width: 1000px; */
        max-width: max-content;
        /* margin: 0 auto; */
        margin: 0;
        padding: 10px;

        border: thin solid;
        box-shadow: 4px 4px 0px green;
        border-radius: 5px;
        margin-bottom: 40px;
    }

    figure h2 {
        margin: 0px 0px 10px;
    }

    details {
        margin: 25px 0;
        padding-inline: 15px;  
    }
    
    details[open] {

        margin-inline: 15px;
        /* padding: 10px 0; */
        padding: 15px;
        border: thin solid;
        border-radius: 5px;
    
    }
    
    details[open] summary {
        /* margin-left: auto !important;  */
        /* margin-right: 10px; */
        transition: .7s ease;
        overflow: hidden;
        /* top: 60px; */
        z-index: 1;

    }

    
    
    /* details[open] p {
        padding-inline: 15px;
        
    } */
    
    summary {
        max-width: max-content;
        box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.1);
        cursor: pointer;
        overflow: hidden;

        padding: 8px;
        border-radius: 15px;
    
    }

    summary:hover {
        opacity: 90%;
    }

    .text-container {
      max-width: 750px;
      /* margin: 20px auto; */
      margin: 0 auto;
      padding: 0 20px;
      margin-bottom: 10vh;
    }

    .text-container img{
        max-height: 70vh;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .text-container p {
        max-width: 550px;
    }

    .text-container a:link, .text-container a:visited {
        color: var(--text);
        font-weight: 500;
    }

    

    .text-container a:hover, .profile a:hover {
        opacity: 80%;
        text-decoration: none;
    }



    .profile {
      /* text-align: center; */
      
    }

    .profile a:link, .profile a:visited {
        /* font-weight: 400; */
        color: var(--text);
        text-decoration: none;
        color: green;
    }


    .profile img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      /* margin-bottom: 20px; */
      object-fit: cover;
    }

    .profile h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .description {
      /* text-align: justify; */
      margin-top: 0;
    }


    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      z-index: 100;
      position: relative;
      padding: 50px;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }

    .footer-group ul {
        max-width: 200px;
        text-align: left;
        padding: 10px;
    }

    .footer-group ul h2 {
        margin-bottom: 10px;
        border-bottom: thin solid;
        max-width: max-content;
        padding-bottom: 5px;
        font-size: large;
    }


    .footer-group {
      list-style: none;
      padding: 0;
      margin-bottom: 20px;

     display: flex;
     flex-direction: column;
     max-width: 200px;
    text-align: left;

    margin: 0 auto;

    }

    .footer-group li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    .footer-group .social-links li {
      display: inline-block;
      margin-right: 20px;
    }

    .footer-group li:last-child {
      margin-right: 0;
    }

    .footer-group a {
      color: #fff;
      text-decoration: none;
      /* font-weight: bold; */
    }

    .social-links {
      margin-bottom: 20px;
    }

    .social-links a {
      display: inline-block;
      margin-right: 10px;
      color: #fff;
      text-decoration: none;
    }

    .social-links img {
        height: 4vh;
        color: white;
        filter:grayscale();
        filter:invert();
        
    }

    blockquote {
        border-left: thick solid;
        padding-left: 20px;
        margin: 10px;
        max-width: 550px;
        color: #3d3d3d;
        font-size: small;
        margin-bottom: 40px;
    }


    .version {
      font-size: 0.8em;
      color: lightgray;
    }


    nav #mobile-menu {
        display: none;
    }

    .footer-group a:hover {
            opacity: 80%;
        }


   


    .menu-icon {
        position: sticky;
        top: 0px;
        left: 0;
        cursor: pointer;
        z-index: 9999;
        /* background-color: #f5f5f5; */
        max-width: 100%;
        padding: 10px;
        padding-inline: 20px;
        /* float:right; */
        /* background-color: #f5f5f5; */
        box-shadow: 0px 0px 1px #333;
        /* border-bottom: thin solid; */
        opacity: 90%;
    }

    .menu-icon img {
        max-height: 4.5vh;
        /* float: right; */
    }
    
    nav {
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100vh;
        background-color: #3b3b3b;
        transition: left 0.3s ease;
        z-index: 100;
        overflow: hidden;
        padding-top: 60px;
        padding-bottom: 40vh;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
    }

    nav::-webkit-scrollbar {
        display: none;
    }

    nav.show {
        left: 0;
        width: 100%;
        /* padding-top: 60px; */
        box-shadow: 5px 0px 5px #383838;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    nav img {
        max-height: 4vh;
        margin: 0;
        padding: 0;
    }

    nav ul {
        /* padding: 0;

        margin-top: 20vh;
        padding-top: 50px; */
        display: inline;
        list-style-type: none;
    }

    nav li {
        /* margin-bottom: 10px; */
        color: white;
        /* margin-left: 15px; */
        /* font-size: smaller; */
    }

    nav a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 5px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #444;
    }

    .navigation {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }

    nav ul h2 {
        color: var(--text);
        border-bottom: thin solid;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }


    .category {
        max-width: 1000px;

        margin-inline: 15px;
        margin: 0 auto;
        padding-bottom: 0;
        margin-bottom: 15px;
        border-bottom: thick solid;
        /* float: inline-start; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .category a:link, .category a:visited {
        color: var(--text);
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
    }

    .category a:link::before {
        content: "\/ "
    }

    .category a:hover {
        opacity: 80%;
    }

    .grid-multi-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        /* grid-template-columns: max-content; */
        gap: 1vw;
        margin-inline: 15px;
        padding: 10px;
    }


    .grid-four-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1400px;
        gap: 1vw;
        margin-inline: 15px;
        padding: 10px;
        /* margin: 0 auto; */
    }   

    .grid-two-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1400px;
        gap: 1vw;
        margin-inline: 15px;
        padding: 10px;
        margin: 0 auto;

    }


    .grid-item {
        max-height: 100%;
        max-width: 100%;
        padding: 12px;
        /* border: thin solid; */
        box-shadow: 4px 4px 1px #333;
        border-radius: 5px;

        /* display: inline-grid; */
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1vw;
        align-items: center;
    }

    .grid-item-hero {
        max-height: 100%;
        max-width: 100%;
        padding: 12px;
        /* border: thin solid; */
        box-shadow: 4px 4px 1px #333;
        border-radius: 5px;
    }

    .grid-item img {
        max-height: 30vh;
        /* max-width: 100%; */
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .grid-item h1 {
        margin: 0;
        line-height: 1;
    }

    .grid-item p {
        font-size: smaller;
    }

    .grid-item a:link, .grid-item a:visited {
        color: var(--text);
        text-decoration: none;
    }

    .grid-item a:hover {
        opacity: 80%;
    }

    .grid-topic {
        /* padding-top: 10px; */
        /* padding-bottom: 15px; */
        /* text-wrap: nowrap; */
        overflow: hidden;

        text-overflow: ellipsis;

        border-top: thin solid;
    }

    .grid-topic a {
        padding: 5px;
        margin: 5px;
        border: thin solid;
        display: inline-block;
        /* max-width: 120px; */

        /* text-wrap: nowrap; */
        overflow: hidden;

        text-overflow: ellipsis;
        font-size: small;
    }


    .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.35%; 
    }
    
    iframe, video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    
    
        /* border-radius: 10px; */
        /* box-shadow: 0px 8px 16px 0px rgb(0,0,0); */
    }



    @media screen and (max-width: 1600px) {
        .grid-four-items {
            grid-template-columns: 1fr 1fr;
            /* padding: 5px; */
            /* gap: 2vw; */
            margin-inline: 5px;

            max-width: 80%;
            margin: 0 auto;
        }

        aside {
            float: none;
            max-width: 100%;
            margin: 0 auto;
            /* margin-top: 20px; */
            position: relative;
            top: 0;

            box-shadow: none !important;
            border: none;
            border-radius: 0;
            /* height: 100%; */
        }

        /* .aside-container {
            height: max-content;
        } */

        .profile {
            display: flex;
            gap: 4vw;
            align-items: center;
            flex-wrap: wrap;
            max-width: 550px;
            margin: 0 auto;
        }




    }

    @media screen and (max-width: 1355px) {

        .category {
            margin-inline: 15px;
            /* display: block; */
        }

        header {
            text-align: left;
        }
    }


    @media screen and (max-width: 900px) {
        /* nav {
            position: relative;
        } */

        footer {
            padding: 15px;
        }

        .footer-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        nav #desktop, .grid-topic {
            display: none;
        }

        nav #mobile-menu {
            display: block;
        }

        details {
            padding-inline: 0;
        }

        details[open] {
            margin-inline: 0;
        }

        article {
            box-shadow: 0 !important;
            border-right: 0 !important;
            border-left: 0 !important;
            margin-top: 0 !important;
            border-radius: 0 !important;
        }


    }


    
    @media screen and (max-width: 800px) {
        nav {
            width: 100%;
            left: -100%;
        }
        nav.show {
            left: 0;
        }

        .grid-four-items, .grid-two-items {
            grid-template-columns: 1fr;
            max-width: 100%;
            padding: 10px;
            margin-inline: 0;
        }

        .grid-multi-items, .grid-two-items {
            /* padding: 0; */
            margin-inline: 0;
            gap: 2vh;
        }



        .grid-item {
            display: block;
        }

        .grid-item img {
            display: none;
        }
        

    }

    @media screen and (max-width: 400px) {
        .grid-multi-items {
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

    }


    @media screen and (max-width: 300px) {
        .footer-content {
            display: inline;
        }

 



    }

    @media screen and (prefers-color-scheme: light) {

        .grid-item, .grid-item-hero, summary {
            background-color: #f5f5f5;
            border:thin solid;
        }

        aside, article, summary, details[open] {
            box-shadow: 4px 4px 1px #555555;
        }

        article {
            border: thin solid #555555;
        }

        .menu-icon {
            background-color: #f5f5f5;
        }

        .menu-icon img {
            background-color: #f5f5f5;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 4px 4px 1px #555555;
            border: thin solid;
        }

        nav ul h2 {
            color: white;
        }

        .profile a:link, .profile a:visited, strong, .footer-group a:hover, article a:link, article a:visited, summary::marker {
            color: rgb(16, 192, 16);
        }



    }

    @media screen and (prefers-color-scheme: dark) {


        .profile a:link, .profile a:visited, strong, .footer-group a:hover, article a:link, article a:visited, summary::marker {
            color: rgb(19, 202, 19);
        }


        aside, .grid-item, .grid-item-hero, figure, article {
            background-color: #444;
        }

        article {
            border: thin solid #555555;
        }

        .grid-item, .grid-item-hero, aside, article, details[open] {
            box-shadow: 4px 4px 1px #555555;
        }

        body {
            background: #272727;
        }

        summary {
            border: thin solid;
        }

        blockquote {
            color: lightgrey;
        }

        .menu-icon {
            background-color: #272727;
            box-shadow: 0px 4px 0px #555555;
            /* padding: 20px; */
        }

        .menu-icon img {
            background-color: #f5f5f5;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 4px 4px 1px #555555;
            border: thin solid;
        }


    }