* {
    box-sizing: border-box;
}

hr {
    margin: 0;
}


/* strong::before {
    content:" /\00a0";
} */



@media screen and (prefers-color-scheme: dark) {
    strong {
        background-color: rgb(63, 98, 121) !important;
        font-weight: 700;
    }

     /* details summary {
        background-color: rgb(63, 98, 121) !important;
        font-weight: 700;
    } */

    strong {
        padding: 5px;
    }
}

@media screen and (prefers-color-scheme: light) {
    strong {
        /* background-color: rgb(0, 0, 0) !important; */
        background-color: rgb(61 61 61 / 90%) !important;
        color: white;
        font-weight: 700;
    }

    strong {
        padding: 5px;
    }
}


html {
    margin: auto;
    scroll-behavior: smooth;
}
  
body.light {
    --text: dark;
    --background: white;
}

body.dark {
    --text: white;
    /* --background: dark; */
    --background: rgb(80, 80, 80);
    /* --background: #3a3a3a; */
} 

@media screen and (prefers-color-scheme: dark) {
    body, body.dark, html {
        background-color: #1d1d1d;
    }
}

/* @media screen and (prefers-color-scheme: light) {
    html {
        background-color: tan;
    }
} */

body {
    text-rendering: optimizeLegibility;
    color: var(--text);
    background: var(--background);
    margin: 0;
    /* font-family: "YouTube Sans","Roboto",sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;

    /* padding-inline: 15px; */
}

/* @media screen and (max-width: 1300px) {
    body {
        padding-inline: 15px;
    }
} */

a:visited, a:link {
    color: var(--text);
    /* font-weight: 500; */
    /* color: lightblue; */
}

nav {

    padding: 10px;
    padding-inline: 20px;
    /* margin: 15px; */
    /* border-bottom: thin solid #eee; */

    position: sticky;
    top: 0;
    z-index: 5;

    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%); */
    white-space: nowrap;
    overflow: hidden;
    overflow: scroll;

    /* border-top: thin solid;
    border-bottom: thin solid; */

    /* opacity: 95%; */

    /* width: 100% !important; */
    /* max-width: max-content;
    border-radius: 10px;
    margin: 10px;
    margin-inline: 15px;
    top: 8px;
    padding: 8px;
    box-shadow: 0px 2px 5px 3px rgb(0 0 0 / 20%); */
}

nav h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    float: right;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;

    /* display: none; */
}

.under-nav {
    /* width: 100% !important; */
    padding: 10px;
    /* padding-inline: 20px; */
    /* margin: 15px; */
    /* border-bottom: thin solid #eee; */
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 5; */

    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%); */
    white-space: nowrap;
    overflow: hidden;
    overflow: scroll;

    /* opacity: 95%; */
    /* width: 100% !important; */
    /* border-radius: 10px;
    margin: 8px;
    top: 8px;
    padding: 8px;
    box-shadow: 0px 2px 5px 10px rgb(0 0 0 / 40%); */

    /* display: none; */

 
}

@media screen and (min-width: 1150px) {
    .under-nav {
        float: left; 
        position: sticky;
        top: 60px;
        z-index: 1;
        margin: 20px;
        border-radius: 10px;
        /* border: thin solid !important; */
    }

    .under-nav a {
        display: block;
        /* margin: 10px 0; */
        padding: 10px 0;
        margin-inline: 0 !important;
    }
}




.sidebar-nav {
    float: left;
    display: grid;
    position: sticky;
    top: 6vh;
    z-index: 5;
    padding: 5px;
    max-height: 60vh;

    display: none;
}




nav img {
    max-height: 2.5vh;
    margin: auto;
    padding: 0;
}


nav::-webkit-scrollbar, .under-nav::-webkit-scrollbar {
    display: none;
}

nav a:link, a:visited, .under-nav a:link, a:visited, .sidebar-nav a:link, a:visited {
    color: var(--text);
    text-decoration: none;
    /* max-width: 1500px; */
    margin: auto;
    /* margin-right: 1vw; */
    margin-left: 1vw;
    font-weight: 500;

}

.sidebar-nav a {
    margin: 5px !important;
    margin-inline: 10px !important;
}

.timeline {
    max-width: 500px;
    margin: auto;
    /* padding-inline: 20px; */
    /* margin-top: 15px; */
    /* border-right: thin solid; */
    /* border-left: thin solid; */

    /* margin: 15px; */
}

@media screen and (max-width: 700px) {
    .timeline {
        margin: 15px;
    }
}

.post .topic {
    float: left;
}

.post .topic img {
    max-height: 5vh;
    margin: 5px;
    display: none;
}

.post {
    /* border-top: thin solid; */
    /* border-bottom: thin solid; */
    /* margin: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 15px;
    /* margin-inline: 10px; */
    overflow: hidden;
    
    text-decoration: none;

    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 8%);

    /* display: flex; */
}

.post blockquote {
    margin: 5px;
    margin-top: 0;
    /* font-style: italic; */
    margin-bottom: 10px;
    font-size: 80%;
    padding-inline: 15px;
    border-left: thick solid black;
    margin-left: 2em;
    margin-inline: 10px;
    max-width: 450px;
}

.post img {
    max-width: 100%;
    margin: auto;
    max-height: 60vh;
    
    border-radius: 30px;
    
}

.post a:link {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.post h2 {
    font-size: 18px;
    /* padding-bottom: 10px !important; */
    /* padding-top: 5px !important; */
}

.post h4 {
    font-size: 15px;
}

.post p {
    /* margin-top: 05px; */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height:1.5em;
    /* max-width: 80%; */
}

/* .post a:hover {
    background-color: #1d1d1d;
    
} */



.post h2, .post h4 {
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
}

.post h4 a:hover {
    text-decoration: underline !important;
}

@media screen and (max-width: 600px) {
    nav a:link, .under-nav a:link {
        /* margin-right: 5.5vw; */
    }
}




nav a:hover {
    /* font-weight: 700; */
    /* font-style: oblique; */
    /* text-decoration: underline; */
}



/* nav a::before {
    content: "/\00a0";
} */

footer {
    /* width: 100%; */
    padding: 2vh;

    margin: 0 auto;

    margin-top: 12vh;
    margin-bottom: 15vh;
    max-width: 1200px;
    /* margin: 15px; */
    /* border-top: thin solid; */

    /* display: flex; */
    /* flex-direction: row; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
}

footer img {
    max-height: 5vh;
    width: 100%;
    margin: auto;
}

.toes {
    display: flex;
    flex-direction: column;

    /* max-width: 15%; */
    padding: 10px;
    margin: 10px;
}

.toes h1 {
    font-size: 18px;
    border-bottom: thin solid;
    max-width: max-content;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.toes a {
    padding: 5px;
    text-decoration: none;
    max-width: max-content;
    font-weight: 500;
}

@media screen and (prefers-color-scheme: light) {
    .toes a:hover {
    background-color: black;
    color: white;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .toes a:hover {
        background-color: white;
        color: black;
    }
}


@media screen and (max-width: 700px) {
    footer {
        grid-template-columns: 1fr auto;
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    footer {
        grid-template-columns: 1fr;
    }
}


section {
    /* padding-inline: 15px; */
    /* margin: auto; */

}

.section-maxwidth {
    max-width: 1400px;
    margin: auto;
    padding-inline: 15px;
    /* margin-bottom: 15vh; */
}


@media screen and (prefers-color-scheme: light) {
    nav {
        background-color: white;

        background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
        /* Shadows */
        /* Shadow covers */
        background-position: left center, right center, left center, right center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;

        border-top: thin solid #eee;
        border-bottom: thin solid #eee;
        /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%); */
    }

    .under-nav {
        /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%); */
    }

    .blog-title {
        background-color: white;
    }

    hr {
        margin: 10px;
    }


    nav a, .under-nav a {
        /* border-radius: 30px; */
        padding: 10px;
    }

    nav a:hover {
        color: rgb(112, 112, 112);
        /* color: white; */
        /* background-color: rgb(112, 112, 112); */
        /* width: max-content; */
    }

    .under-nav a:hover {
        /* color: rgb(112, 112, 112); */
        color: white;
        background-color: rgb(66, 66, 66);
        width: max-content;
    }

    .sidebar-nav {
        background-color: white;
        
    }

}

@media screen and (prefers-color-scheme: dark) {
    nav, .under-nav {
        background-color: #383838;

        background-image: linear-gradient(to right, #383838, #383838), linear-gradient(to right, #383838, #383838), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
        /* Shadows */
        /* Shadow covers */
        background-position: left center, right center, left center, right center;
        /* background-repeat: no-repeat; */
        background-color: #383838;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;

        /* border-bottom: thin solid #333333; */
        border-top: thin solid #333333;
        border-bottom: thin solid #333333;

        box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4);
    }

    .blog-title {
        /* background-color: #383838; */
        border-radius: 10px;
    }

    hr {
        margin: 10px;
    }


    nav a, .under-nav a {
        /* border-radius: 30px; */
        padding: 10px;
    }

    nav a:hover {
        color: rgb(112, 112, 112);
        /* color: white; */
        /* background-color: rgb(112, 112, 112); */
        /* width: max-content; */
    }

    .under-nav a:hover {
        /* color: rgb(112, 112, 112); */
        color: white;
        background-color: rgb(75, 75, 75);
        width: max-content;
    }
}

.blog-title {
    max-width: 1000px;
    max-width: 22%;
    margin: auto;

    padding: 15px 0;
    padding-inline: 15px;
    /* border-bottom: thin solid; */

    /* background-color: lightcoral; */
    background-color: none;

    border-bottom: thin solid;
}

.blog-title a {
    /* margin-right: 1vw; */
    /* margin-left: 10px; */
    /* position: fixed; */
    border: thin solid;
    /* border-radius: 30px; */
    font-size: 14px;
    width: max-content;
    margin-top: 10px;
    /* padding: 10px; */
    padding: 5px;
    text-wrap: nowrap;
    /* border-radius: 10px; */

    font-weight: 500;
}

.blog-title a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

/* .blog-title a::after {
    content: " , ";
} */

.blog-title h1 {
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
}

/* fixed header title */
/* .blog-title h1 {
    position: fixed;
    top: 6px;
    z-index: 10;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    font-size: 130%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 18%;
    height: 5vh;
    width: 100%;
} */

.blog-title p {
    max-width: 550px;
    /* margin-bottom: 30px; */
    line-height: 1.9;
    margin-top: 10px;
    font-size: 90%;
    border-top: thin solid;
    width: fit-content;
    padding-top: 5px;
}

.blog-title img {
    max-height: 60vh;
    max-width: 100%;

    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%);
}



.blog-title blockquote {
    /* margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 80%; */

    /* margin: 5px; */
    /* margin-top: 0; */
    /* font-style: italic; */
    /* margin-bottom: 40px; */
    font-size: 80%;
    padding-inline: 15px;
    border-left: thick solid black;
    margin-left: 2em;
    margin-inline: 0;
}


.blog-container {
    max-width: 1000px;
    max-width: 50%;
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 5vh; */

    /* padding-bottom: 20vh; */

    /* border-right: thin solid #eee;
    border-left: thin solid #eee; */
    /* padding-inline: 20px; */
    margin-bottom: 5vh !important;
}

.ad-split {
    /* max-width: 1700px; */
    /* max-width: max-content; */
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    padding: 60px;
    /* margin: 15px; */
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* margin-bottom: 20vh; */
    /* margin-right: 11.5%; */

}

.ad-split h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.ad-split p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-top: 0;
}



.blog a:link, a:visited {
    color: var(--text);
}

@media screen and (prefers-color-scheme: dark) {

    .blog-container {
        border-color: rgb(58, 58, 58);
    }

    /* .blog a:link, a:visited {
        background-color: #555;
        color:var(--text);
        padding: 5px;
    } */

    .blog-title a:hover, .blog a:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
    }


    .blog h2 {
        border-bottom: 1px solid #5f5f5f;
    }

    .blog-title {
        border-right: thin solid #333333;
    }

    .post h4 {
        color: rgb(124, 124, 124);
    }

    .post, .split-header-half {
        /* border-color: #333333; */
        /* background-color: #333333; */
        /* box-shadow: 0 1px 8px -1px rgba(83, 83, 83, 0.4); */
        border: thin solid #333333;
    }

    /* .post::after {
        content: "";
        border-bottom: thin solid;
    } */

    .post h4:hover {
        color: white;
    }

    .post:hover {
        background-color: #333333;
    }

    .post blockquote {
        border-color: white;
    }

}

@media screen and (prefers-color-scheme: light) {
    .blog-title a:hover, .blog a:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
    }

    .blog h2 {
        border-bottom: 1px solid #eee;
    }

    .blog-title{
        border-right: thin solid #eee;
    }

    .timeline, .post, .post blockquote {
        /* border-color: #eee; */
    }

    .post h4 {
        color: rgb(124, 124, 124);
    }

    .post h4:hover {
        color: black;
    }

    .timeline .post:hover {
        background-color: rgb(247, 247, 247);
    }

    .post {
        background-color: white;
    }


    
/* 
    .blog a:link, a:visited {
        background-color: rgb(63, 63, 63);
        color:rgb(255, 255, 255);
        padding: 5px;
    } */
}

@media screen and (max-width: 500px) {
    .blog-container {
        border: none;
        padding-inline: 0;
    }


}

.blog h2 {
    max-width: 550px;
    line-height: 120%;
    margin-bottom: 0;
    /* margin: 0; */
    margin-inline: 15px;
    /* padding-inline: 15px; */
    /* padding-top: 0; */
    padding-bottom: .3em;
    font-size: 1.3em;

}

.blog h3 {
    max-width: 600px;
    line-height: 120%;
    /* margin-bottom: 0; */
    /* margin: 0; */
    margin-inline: 15px;
    margin-left: 2em;
    /* margin-inline: 10px; */
    padding-inline: 15px;
    /* padding-top: 0; */
    /* padding-bottom: 1em; */
    font-size: 1em;
    border-left: thick solid black;
}

.blog p {
    max-width: 550px;
    /* font-size: 0.9rem; */
    line-height: 1.8;
    margin-top: 5px;
    /* padding-inline: 20px; */
    padding-inline: 15px;
    /* margin: auto; */
    /* white-space: break-spaces; */
    white-space: normal;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

@media screen and (max-width: 400px) {
    .blog h2, .blog p, .blog-title, summary, nav a, .blog h3, details table {
        font-size: 80%;

    }

    .blog p {
        padding-inline: 20px !important;
    }

    details summary {
        position: relative;
        top: 0 !important;
    }
}

.blog img {
    max-height: 70vh;
    max-width: 100%;
    /* width: 100%; */
    object-fit: cover;
    margin: 10px 0;
    /* margin: 10px; */
    /* padding-inline: 15px; */
    /* margin: auto; */
    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%); */
    /* margin: auto; */
    border-radius: 10px;

    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 40%);
}


.blog blockquote, .split-header-half-title blockquote {
    margin: 5px;
    margin-top: 10px;
    /* font-style: italic; */
    margin-bottom: 40px;
    font-size: 80%;
    padding-inline: 15px;
    border-left: thick solid black;
    margin-left: 2em;
    margin-inline: 10px;
    max-width: 450px;
}

@media screen and (max-width: 1200px) {
    .blog img {
        /* margin: 10px 0; */
        /* margin: 10px; */
        /* border-radius: 0; */
        /* padding-inline: 15px; */
        /* box-shadow: none; */
    }

    /* .blog-container .blog img {
        padding-inline: 15px;
    } */

}

@media screen and (prefers-color-scheme: dark) {

    .blog blockquote, .blog-title blockquote, .blog h3 {
        border-color: lightgray;
    }
    
}

/* .blog ol, .blog ul {
    padding-left: 5vw;
} */

.blog li {
    padding: 10px;
    max-width: 600px;
}

.blog-sidebar-menu {
    position: sticky;
    top: 10vh;
    z-index: 5;
    max-width: 300px;
    margin: auto;
    float: left;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.35%; 
    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%); */

    margin-top: 10px;

    border-radius: 10px;
}
  
iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

details {
    margin: 25px 0;
    padding-inline: 15px;

    /* background-color: red; */

}

details[open] {
    /* border: thin solid; */
    /* border-radius: 40px; */
    /* margin: 10px; */
    /* margin: 10px; */
    margin-inline: 15px;
    padding: 10px 0;
    /* padding: 0; */
    /* border-top: thin solid;
    border-bottom: thin solid; */
    /* width: 100%; */
    border: thin solid;


}

details[open] summary {
    margin-left: auto !important; 
    margin-right: 10px;
    transition: .7s ease;
    /* width: 100%; */
    /* top: 0; */
    /* border-radius: 15px 15px 0 0; */
    /* border-radius: 0; */
    overflow: hidden;

    /* top: 8px; */
    /* top: 0; */
    top: 60px;
    /* top: 5px; */
    z-index: 1;
    /* box-shadow: 0px 2px 5px 3px rgb(0 0 0 / 20%); */
}

details[open] p {
    padding-inline: 15px;
}

summary {
    /* border: thin solid white; */




    /* margin-left: 10px; */
    width: max-content;
    /* box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.1); */

    position: sticky;


    cursor: pointer;
    overflow: hidden;
    /* transform: ease 2s; */
    /* transition: 2s ease; */

    /* removing summary stuff */
    padding: 8px;
    border-radius: 15px;


    /* opacity: 98%; */


}

@media screen and (min-width: 540px) {
    summary {
        /* top: 5.5vh !important; */
        z-index: 0;
        
    }
}

@media screen and (max-width: 540px) {
    /* details[open] summary {
        top: 0;
    } */
}

@media screen and (prefers-color-scheme: light) {
    summary {
        background-color: white !important;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.009);
        border: thin solid rgba(3, 3, 3, 0.2);
    }

    details[open] {
        /* background-color:rgba(128, 128, 128, 0.74) !important; */
        border-radius: 10px;
        /* border: thin solid #eee; */
        /* color: white; */
        box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%);
    }
}

@media screen and (prefers-color-scheme: dark) {
    summary {
        background-color:rgb(58, 58, 58) !important;
        border: thin solid;
        box-shadow: 0px 4px 8px 0px rgba(39, 39, 39, 0.09);
    }

    details[open] {
        background-color:rgba(58, 58, 58, 0.5) !important;
        border-radius: 10px;
        box-shadow: 0 1px 8px -1px rgba(255, 255, 255, 0.5);
    }



    video {
        box-shadow: 0px 8px 16px 0px rgba(182, 182, 182);
        border: thin solid;
    }
}



table, th, td {
    border-collapse: collapse;
    padding: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border: thin solid;
  }

th {
    font-size: 1.2em;
    padding: 10px;
    text-align: left;

}

td {
    width: max-content;
    max-width: 600px;
}

table {
    border-spacing: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 10px;
    box-shadow: 0 .5rem 1rem -.5rem rgba(0,0,0,.08);
    padding: 0;
    margin: 15px;
}

.two-img-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;

    /* max-width: 900px; */
    margin: auto;
}

.three-img-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    /* max-width: 900px; */
    margin: auto;
}

.four-img-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    /* max-width: 1000px; */
    margin: auto;
}

.timeline-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
    max-width: 600px;
    margin: auto;
    /* margin-top: 1vw; */
}

.timeline-wrap-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    max-width: 1400px;
    margin: auto;
    /* margin-top: 1vw; */
}

@media screen and (max-width: 1000px) {
    .four-img-columns {
        grid-template-columns: 1fr 1fr;
    }

    .timeline-wrap-two {
        grid-template-columns: 1fr;
    }

    .timeline-wrap, .timeline-wrap-two {
        padding-inline: 10px;
        gap: 3vh;
        margin-top: 2vh;
    }
}


@media screen and (max-width: 800px) {
    .two-img-columns, .three-img-columns, .four-img-columns {
        grid-template-columns: 1fr;
    }
}




/* Top Title Bar */
/*  */
.top-title-bar {
    /* border-bottom: thin solid; */
    /* border-top: thin solid; */
    top: 0;
    left: 0;
    /* position: sticky; */
    z-index: 40;
    /* background-color: white; */
    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 5%); */
    /* opacity: 50%; */

    overflow: hidden;

    /* display: none; */
}

.top-title-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
    /* margin-inline: 15px; */
    padding: 5px;
    /* text-transform: lowercase; */
    /* max-height: 6vh; */
    overflow: hidden;
}

.top-title-bar img {
    max-height: 4vh;
    padding: 5px;
    align-self: center;
}


.top-title-bar-links {
    justify-content: start;
    /* width: 60%; */
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-title-bar-links a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.top-title-bar-links a:hover {
    font-weight: 700;
    /* text-decoration: underline; */
    /* padding-bottom: 2px; */
}

.top-title-bar-links ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top-title-bar-links li {
    padding: 5px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    /* text-align: center; */
    /* text-transform: uppercase; */
}

/* drop down work */

.drop-down-button {
    /* float: left; */
    overflow: hidden;
}

.drop-down-button:hover .drop-down li {
  display: block;
}

.top-title-bar-links .top-title-bar-links-more {

}

.top-title-bar-links .drop-down {
    display: none;
    overflow: hidden;
    white-space: nowrap;

    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.top-title-bar-links .drop-down a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.top-title-bar-links a {
    padding-inline: 5px;
}

.top-title-bar-links a:link, a:visited {
    color: var(--text);
}


.top-title-bar-title {
    overflow: hidden;
    white-space: nowrap;

    /* display: none; */
}

.top-title-bar-title h2:before {
    /* padding: 8px;
    color: black; */
    content: "/\00a0";
  }

/* .tag-tag a:before {
    content: "\00a0";
} */


.collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

  }
  
  .active, .collapsible:hover, .collapsible {
    background-color: #555;
  }

  @media screen and (prefers-color-scheme: light) {
    .collapsible {
        background-color: white;
    }
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
    box-shadow: 0 1px 8px -1px rgba(243, 243, 243, 0.25);
  }

  .content ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
  }

  .content li {
    margin: 0;
    padding: 5px 0;
  }

  .content a:link, a:visited {
      /* text-decoration: none; */
      display: block;
  }

  .content a:hover {
      text-decoration: underline;
  }


@media screen and (max-width: 400px) {
    .top-title-bar-title {
        display: none;
    }

    .blog-title a {
        display: block;
        /* padding: 5px 0; */
    }
}


.top-title-bar .top-title-bar-title h2 {
    margin: 0;
    padding-inline: 15px;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* display: none; */
}

.top-title-bar-spoiler {
    /* overflow: hidden; */
    white-space: nowrap;

}

.top-title-bar-spoiler h2 {
    margin: 0;
    padding: .3em;
    font-size: 18px;
    background-color: red;
    color: white;
    text-overflow: ellipsis;
    border-radius: 28px;
}


.header {
    float: none;
    display: flex;
    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%); */
    /* padding: 1em; */
    /* max-width: 2200px; */
    margin: auto;
}

.header h1 {
    padding: 10px;
}

.header img {
    max-height: 60vh;
    object-fit: cover;

    /* object-fit: scale-down; */
    width: 100%;
    /* box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%); */
    /* padding: 1em; */
    /* border-radius: 28px; */
}

.split-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* max-height: 50vh; */
    /* height: 100%; */
    /* gap: 1vw; */
    /* padding: 12px 0; */
    padding-inline: 15px;
    max-width: 1200px;
    margin: auto;
    gap: 8vw;
    /* height: 94vh; */
    /* margin: 10px; */
    /* margin-top: 10px; */
    padding-top: 10px;
    margin-bottom: 10px;
}

.split-header-half {
    width: 100%;
    height: 100%;
    /* border: thin solid #eee; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 10%);

    border-radius: 10px;

    overflow: hidden;

}





.split-header-half img {
    width: 100%;
    height: 100%;
    /* max-height: 80vh; */
    object-fit: cover;
    /* object-fit: scale-down; */
}

.split-header-half-title {
    padding: 5%;
}

.split-header-half-title h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 5px;
}

.split-header-half-title h3 {
    font-size: 20px;
    line-height: 20px;
    /* margin: 0; */
    padding: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.split-header-half-title h2 {
    font-size: 16px;
    margin-bottom: 20px;
    /* line-height: 21px; */
    border: thin solid #eee;
    padding: 5px;
    /* margin: 0; */
    max-width: max-content;
    margin-right: 15px;

    display: none;
}

.split-header-half-title-tag {
    /* display: flex; */

}

.split-header-half-title p {
    /* padding-inline: 2%; */
    /* font-size: .9em; */
    padding-left: 1%;
    padding-top: 0;
    margin-top: 5px;
    max-width: 600px;
}

.title-link {
    /* margin: 15%; */
    /* margin-top: auto; */
    /* margin-top: 5vh; */
    margin-top: 4vh;
    margin-bottom: 20px;
    padding-inline: 1%;
    
}

.title-link a {
    border: thin solid;
    /* padding: 2%; */
    padding: 10px;
}

.title-link a:link, a:visited {
    text-decoration: none;
    color: var(--text);
}



.split-header-half {
    /* height: 85vh; */
    /* height: 35vh; */
}

.split-header-half img {
    /* max-height: 80vh; */
}

@media  screen and (max-width: 1000px) {
    /* .split-header-half {
        height: 30vh;
    }
    
    
    .split-header-half img {
        max-height: 35vh;
    } */

    .split-header {
        /* margin: 15px; */
        padding: 15px;
    }
}


@media screen and (prefers-color-scheme: dark) {
    .split-header-half {
        /* box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.05); */
        /* border: thin solid; */
    }
}

@media screen and (prefers-color-scheme: light) {
    .split-header-half {
        /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05); */
        /* border: thin solid; */
        box-shadow: 0 1px 8px -1px rgb(0 0 0 / 40%);
        background-color: white;
    }
}


@media screen and (max-width: 700px) {
    .split-header-half-title h1 {
        /* font-size: 100%; */
        line-height: 100%;
        margin: 0;
    }

    .split-header-half-title h2 {
        font-size: 60%;
        margin-bottom: 3%;
    }

    .split-header-half-title p {
        font-size: 95%;
        margin: 0;
        margin-top: 10px;
    }

    .split-header-half-title-tag {
        margin-bottom: 0;
    }

    .split-header-half-title {
        padding: 4%;
    }

    .split-header {
        grid-template-columns: 1fr;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .title-link a:hover {
        color: black;
        background: white;
    }

    .split-header-half, .split-header-half h2 {
        border-color: #383838;
    }

    table, th, td {
        border-color: #5555558a;
    }

}

@media screen and (prefers-color-scheme: light) {

    .title-link a:hover {
        background-color: black;
        color: white;
    }

    .collapsible {
        color: rgb(0, 0, 0);
        background-color: white;
        border: thin solid #eee;
      }
      
      .active, .collapsible:hover {
        background-color: #dddddd;
      }
      
      .collapsible:after {
        color: rgb(7, 7, 7);
      }

    .content {
        box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.25);
    }
}


.iframe-container {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    padding-top: 56.35%; 
    /* margin-top: 10px; */
    margin-bottom: 10px;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%);
    /* margin: 15px; */


  }

  @media screen and (min-width: 1030px) {
    /* .iframe-container {
        border-radius: 30px;
    } */

  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .grid-three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    margin-bottom: 2vh;
    /* padding-inline: 15px; */
} 


  .grid-four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    margin-bottom: 2vh;
    /* padding-inline: 15px; */
}

.grid-five-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 1vw;
    margin-bottom: 2vh;
    max-width: 1300px;
}

.footer {
    display: none;
}

@media screen and (max-width: 1240px) {


    .top-title-bar .top-title-bar-title h2, .top-title-bar-spoiler h2 {
        display: block;
        font-size: 18px;
    }

    .grid-four-columns, .grid-three-columns, .grid-five-columns {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 900px) {

    .footer {
        padding-right: 2%;
        padding-left: 2%;

    }

    .grid-four-columns, .grid-three-columns, .grid-five-columns {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (min-width: 640px) {

    .top-title-bar .form {
        display: none;
    }



    
}


@media screen and (max-width: 800px) {
    
    .top-title-bar .form {
        display: none;
    }

    .top-title-bar .top-title-bar-title h2, .top-title-bar-spoiler h2 {
        display: block;
        font-size: 14px;
    }



    .top-title-bar-content {
        /* margin-inline: 0; */
        /* justify-content: start; */
        justify-content: space-between;
        align-items: center;
        /* align-items: baseline; */
    }
    
    .header img {
        max-height: 30vh;
    }


}



.top-title-bar, .footer, .navbar, .inline-navbar, .hamburger, #mybtn, .blog-topics, .blog-alt-title, .blog-vertical-title, .topTitle, .spoiler-scrollbar, .left-nav-bar, .right-nav-bar, .ad-break, .blog-right, .nav-bar {
    display: none;
    visibility: hidden;
    max-width: 600px;
    margin: auto;
}

.blog-title-head {
    max-width: 1200px;
    margin: auto;
    padding-inline: 15px;
}

.blog-title-head h1 {
    line-height: 100%;
}

.blog-title-head h2 {
    max-width: 450px;
    font-size: 18px;
    font-weight: 500;
}

.blog-title-img img {
    max-height: 50vh;
}

img {
    max-width: 100%;
    /* max-height: 50vh; */
    /* height: 50vh; */
    object-fit: scale-down;
    margin: auto;
}


/* 

working on blog title sidebar now

*/



@media screen and (min-width: 1401px) {

    /* .blog-title {
        margin: auto;
        padding: 15px 0;
        padding-inline: 15px;
        float: left;
        position: sticky;
        top: 40px;

        overflow-y: scroll;

        height: 100vh;
    } */

    .blog-title {
        padding: 20px 0;
        padding-inline: 15px;
        float: left;
        position: sticky;
        top: 50px;
        overflow-y: scroll;
        /* height: 92.5vh; */
        /* border-radius: 10px; */
        margin: 15px;
        }

    /* .blog-container {
        max-width: 750px;
    } */

    .blog-title::-webkit-scrollbar {
        display: none;
    }

    .blog-title h1 {
        /* line-height: 1; */
        margin-bottom: 0;
        /* margin-top: 5px; */
        /* float: right; */
    }



    .blog-title p {
        max-width: 550px;
        /* margin-bottom: 20px; */
        /* line-height: 1.8; */
        /* margin-top: 5px; */
        
    }

    .blog-title a {
        /* display: block; */
        display: inline-block;
    }

    /* .blog-title img {
        max-height: 80vh;
    } */

}

/* @media screen and (min-width: 1440px) and (prefers-color-scheme: light) {
    .blog-title {
        box-shadow: 0 1px 8px -1px rgb(0 0 0 / 40%);

    }
}

@media screen and (prefers-color-scheme: light) {
    .under-nav {
        box-shadow: 0 1px 8px -1px rgb(0 0 0 / 40%);

    }
    
}

@media screen and (prefers-color-scheme: dark) {
    .under-nav {
        box-shadow: 0 1px 8px -1px rgba(83, 83, 83, 0.4);
    }
}

@media screen and (min-width: 1440px) and (prefers-color-scheme: dark) {
    .blog-title {
        box-shadow: 0 1px 8px -1px rgba(107, 107, 107, 0.2);
    }
} */



@media screen and (min-width: 1900px) {
    .blog-title {
        max-width: 335px;
    }

    .blog-container {
        max-width: 900px;
    }

    .blog-title img {
        max-height: 55vh;
    }
}

@media screen and (max-width: 1400px) {
    .blog-title {
        /* border: none; */
        max-width: 1000px;
        background-color:transparent;
    }

    .blog-container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 640px) {
    details[open] summary {
        z-index: 1 !important;
        top: 50px;
    }

    /* summary {
        position: relative;
        top: 0;
    } */

}

@media screen and (max-width: 440px) {
    /* nav {
        position: relative;
        top: 0;
    } */



    /* summary {
        position: relative;
        top: 0 !important;
        width:fit-content;
        margin-right: auto;
    } */
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: red;  */
    /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
  }

#myBtnBottom {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

  #myBtn:hover, #myBtnBottom:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


details .iframe-container {
    border-radius: 0;
}

 .blog details[open] img {
    border-radius: 0 !important;
}

@media screen and (max-width: 350px) {
    nav, .under-nav {
        position:relative;
        padding: 1%;
    }

    nav a, .under-nav a {
        display: block;
        font-size: 70%;
        padding: 5px;
    }

    .split-header-half-title p {
        display: none;
    }

    .split-header-half-title h1, .title-link a {
        font-size: 80%;
        padding: 2%;
    }

    /* .split-header {
        height: 80vh;
    } */

    .section-maxwidth {
        padding-inline: 5px;
    }
}


/* christmas theme
body {
    background-image: url(../img/pages/heros/christmas-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*/


/* nav {
    width: max-content !important;
    margin: 10px;
    border-radius: 10px;
    top: 10px;
    padding-inline: 0;
    padding: 5px;
}  */



@media screen and (max-width: 500px) {
    .under-nav {
        display: none;
    }    

    details[open] {
        margin-inline: 15px;
    }
}




@media screen and (min-width: 1400px) and (prefers-color-scheme: light) {
    .blog-container {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 10vh;
        /* box-shadow: 0 1px 8px -1px rgba(83, 83, 83, 0.4); */
    }

    .blog-title {
        background-color: white;
        border-radius: 10px;
        margin-top: 11px;
        box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%);
        
    };
    
}

@media screen and (max-width: 1400px) and (prefers-color-scheme: light) {
    .blog-container {
        background-color: white;

        border-radius: 10px;
        
        margin: 10px;
        margin-top: 15px;
        padding: 5px;

        /* box-shadow: 0 1px 8px -1px rgba(83, 83, 83, 0.4); */

    }

    .blog-title {
        background-color: white;
        margin: 11px;
        border-radius: 10px;

    };
}

@media screen and (min-width: 1400px) and (prefers-color-scheme: dark) {
    .blog-container {
        /* background-color: #333333; */
        padding: 15px;
        border-radius: 10px;
        margin-top: 15px;
        /* box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4); */
    }

    .blog-title {
        /* background-color: #333333; */
        /* box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4); */
        /* margin: 11px; */
        /* border-radius: 10px; */
        margin-top: 10px;

    };

    
}

@media screen and (max-width: 1300px) and (prefers-color-scheme: dark) {
    .blog-container {
        /* background-color: #333333; */
        /* padding: 15px; */
        border-radius: 10px;
        margin-top: 15px;
        padding: 5px 0px;

        /* shrinking side margin for reading */
        margin: 10px;

        /* margin: auto; */

        /* box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4); */
    }

    .blog-title {
        /* background-color: #333333; */
        /* box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4); */
        /* margin: 11px; */

        /* margin: auto; */
        /* border-radius: 10px; */
    };

}

/* hover nav */

/* nav {
    margin: 10px;
    top: 10px;
    border-radius: 10px;
} */

.under-nav {
    top: 60px;
}

.blog-title {
    top: 60px;
}


/* Trying colored background */
/* 
body {
    background-image: url(../img/pages/backgrounds/green-forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 */

.center-timeline {
    max-width: 1400px;
    margin: auto;
}




.right-sidebar {
    float: right;
    max-width: 320px;

    position: sticky;
    top: 10vh;
    z-index: 1;

    display: flex;

    padding: 10px;

    display: none;
}

.right-sidebar p {

}

.right-sidebar img {
    /* max-height: 20vh; */
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

.top-nav-header {
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    justify-content: center;
    /* max-width: max-content; */
}

@media screen and (prefers-color-scheme: dark) {
    .top-nav-header {
        background-color: #383838;
    }
}

.top-nav-header img {
    max-height: 10vh;
    padding: 10px;
    max-width: max-content;
}

nav {
    /* text-align: center !important; */
}

nav a {
    margin-left: 0 !important;
    border-right: thin solid #eee;
}

.social-links {
    z-index: 10;
    font-size: 0;
    /* margin: 24px; */
    position: absolute;
    margin-left: 104px;
}

.social-links img {
    max-width: 20vh !important;
    /* padding: 0; */
}

.social-links ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.social-links li {
    margin: 0;
    padding: 0;
}


.index-spread {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    margin: auto;
    gap: 2vw;
    padding-inline: 15px;

    border-bottom: thin solid;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}

.main-hero {
    display: flex;
    flex-direction: column;
    /* max-width: 900px; */
    /* margin: auto; */

}

.main-hero-content {
    margin: 10px 0;
    
    position: sticky;
    top: 6vh;
    z-index: 1;

}

.main-hero-content blockquote {
    /* margin: 5px; */
    /* margin-top: 0; */
    margin-bottom: 10px;
    font-size: 80%;
    padding-inline: 15px;
    border-left: thick solid black;
    margin-left: 4em;
    /* margin-inline: 10px; */
    max-width: 450px;
}

.main-hero-content img {
    max-height: 70vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 8%);
}

.timeline {
    margin: auto;
}

@media screen and (prefers-color-scheme: light) {
    .post {
        border: thin solid #dddddd;
    }
}

@media screen and (max-width: 1000px) {
    .index-spread {
        grid-template-columns: 1fr;
    }

    .main-hero {
        border-bottom: thin solid #eee;
        padding-bottom: 30px;
    }
}


/* ahh, no img in posts */
.post img, .post blockquote {
    display: none;
}

.post a h4 {
    margin-right: 1vw !important;
    margin-left: 0 !important;
}

.topic {
    visibility: hidden;
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .category {
    /* margin-bottom: 20px; */
    /* margin-top: 60px; */
    /* padding-top: 40px; */
    padding-inline: 15px;
    margin-bottom: 5vh;
    /* position: relative !important; */
}

.category h1, .alt-category h1 {
    /* margin-bottom: 0; */
    padding-top: 10px;
    margin-top: 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: thin solid;
    /* border-bottom: .5px solid; */
    /* border-bottom: .25px solid #eee; */
    padding-bottom: 5px;
}




/* .blog-spread {
    max-width: 1400px;
    margin: auto;
} */

.blog-header {
    max-width: 100%;
    padding: 120px;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
}



.blog-header h1 {
    font-size: 60px;
    margin: 15px;
    line-height: 1em;
}

.blog-header p {
    font-size: 20px;
    margin: 5px;
}

.blog-header a {
    border: thin solid;
    font-size: 14px;
    width: max-content;
    margin-top: 10px;
    padding: 6px;
    text-wrap: nowrap;
    border-radius: 10px;
    margin-inline: 15px;
}

.blog-header a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .blog-grid {
        display: block;
    }

    .blog-title {
        position: relative;
        top: 0;
        border-left: none;
    }

    .blog-title img {
        max-height: 80vh;
    }

    .blog-header {
        padding: 2rem;
    }

    .blog-header h1 {
        font-size: 20px;
        margin: auto;
    }

    .blog-header p {
        margin: auto;
        font-size: 14px;
    }

    .blog-header a {
        display: inline-block;
        margin-bottom: 10px;
        margin-inline: 0;
    }
}

@media screen and (prefers-color-scheme: light) {
    #myBtn {
        background-color: #383838;
    }

    .category {
        background-color: white;
        /* top: 4vh; */
        /* position: sticky; */
        z-index: 4;
    }
}

@media screen and (prefers-color-scheme: dark) {

        .category {
        /* background-color: rgba(33, 33, 33); */
        /* top: 4vh; */
        /* position: sticky; */
        z-index: 4;
        /* box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.4); */
    }

    .blog-header {
        background-color: #444444;
    }
}


/* new blog setup feb 12 24 */

/* 
.blog-grid {
    max-width: 80rem;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    width: 100%;
    margin: auto;
}

.blog-title {
    grid-area: 1/1/2/5;
    align-self: start;
    border-left: 1px solid;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;

    max-width: 100% !important;
    width: -webkit-fill-available !important;
    padding: 10px;

    border-right: none;
    box-shadow: none;
    border-radius: 0;
    margin: 10px;

    
}



.blog-container {
    grid-area: 1/5/2/13;
    max-width: 100% !important;
    width: -webkit-fill-available !important;
}


@media screen and (max-width: 1200px) {
    .blog-title a {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .blog-grid {
        display: block;
    }

    .blog-title {
        position: relative;
        top: 0;
        border-left: none;
    }

    .blog-title img {
        max-height: 92vh;
    }

    .blog-header {
        padding: 2rem;
    }

    .blog-header h1 {
        font-size: 20px;
        margin: auto;
    }

    .blog-header p {
        margin: auto;
        font-size: 14px;
    }

    .blog-header a {
        display: inline-block;
        margin-bottom: 10px;
        margin-inline: 0;
    }
}


 */



/* new home page 2.21.24 */

.head-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-bottom: thin solid;
    margin-top: 20px;

    overflow: hidden;
}



.head-nav .head-logo img {
    max-height: 12vh;
    padding: 10px;
  }

.head-nav .head-links {
    display: flex;
    align-items: center;
    margin: 20px;

}

.head-nav .head-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.head-nav .head-links a {
    padding: 0 28px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

/* .dropped {
    display: none;
} */


@media screen and (max-width: 650px) {
    .head-nav .head-links ul {
        flex-direction: column;
    }
}


.main-spread {
    max-width: 1600px;
    margin: auto;
    padding-inline: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 50px;
    z-index: 6;
    max-width: max-content;
    box-shadow: 0px 4px 10px black;
    border-radius: 10px;
    margin: 10px;
  }
  
  .topnav #myLinks {
    display: none;
    z-index: 10;
    border-radius: 10px;
  }
  
  
  .topnav a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: small;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  


/* forcing fits - 2.29.24 */

.blog-alt-title, .blog-vertical-title {
    display: block;
    visibility: visible;
}

.blog-vertical-title {
    padding: 10px;
}

.blog-vertical-title a {
    display: none;
}



.iframe-container, img {
    border-radius: 0 !important;
}

.blog-container, .blog-title {
    max-width: 1000px !important;
    margin: 0 auto;
    padding-inline: 0;
    /* margin-inline: 5px; */

}

.blog-container {
    /* box-shadow: 0px 0px 4px black; */
    margin-top: 2vh;
}

.blog-title {
    padding: 20px;
    position: relative;
    z-index: 1;
    box-shadow: none;
    border-radius: 0;
    top: 0 !important;
    float: none;
    border-right: none;
    margin-top: 2vh;
}

.blog h2 {
    border-bottom: none !important;
}



/* @media screen and (max-width: 800px) {
    .two-link, .three-link, .four-link {
        display: none;
    }

} */


#myBtn {
    display: none;
    position: fixed;
    /* bottom: 60px; */
    bottom: 5vh;
    /* right: 6px; */
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
    /* height: 4vh; */
    overflow-y: hidden;
    padding: 10px;
    padding-bottom: 15px;
    /* border-radius: 10px; */
    border-radius: 20px;
    font-size: 30px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    opacity: 80%;
  }


  
